{% extends 'clients/owners_base.html' %}

{% block content %}

<div class="container d-flex justify-content-center">

    <div class="row w-50 ">
        <div class="col bg-light p-4 m-4 rounded">
            <h2 class="col m-3">Panel zarządzania</h2>

            <h4 class="col m-3"> <a href="/owners/products">Produkty</a>
                | <a href="/owners/products/add">Nowy produkt</a></h4>

            <h4 class="col m-3"> <a href="/owners/vmachines">Automaty</a>
                | <a href="/owners/vmachines/add">Nowy automat</a></h4>

            <h4 class="col m-3"> <a href="/owners/clients">Klienci</a>
                | <a href="/owners/clients/add">Nowy klient</a></h4>

            <h4 class="col m-3"> <a href="/owners/cards">Karty</a>
                | <a href="/owners/cards/add">Nowa karta</a></h4>

            <h4 class="col m-3"> <a href="/owners/transactions/">Transakcje</a></h4>
        </div>
    </div>
</div>





{% endblock content %}