{% extends 'clients/base.html' %}
	
{% block content %}

{% load get_group %}

<div class="container">

<h1 class="p-4 m-1" >Owner dashboard</h1>

<div class="row" tp-4>
    <div class="col bg-light p-4 m-1 rounded" >
        <h4 class="col m-3">manage <a href="">products</a></h4>
        <h4 class="col m-3">manage <a href="">vending machines</a></h4>
    </div>

    <div class="col bg-light p-4 m-1 rounded">
        <h4 class="col m-3">manage <a href="">clients</a> | <a href="">new client</a></h4>
        <h4 class="col m-3">manage <a href="">cards</a> | <a href="">new card</a></h4>
        <h4 class="col m-3">manage <a href="">transactions</a></h4>
    </div>
</div>
</div>





{% endblock content %}